*{
    margin: 0;
    text-decoration : none;
    box-sizing: border-box;
    font-size: 14px; 
}
  
  body {
    font-weight: 400;
    font-size: 1rem;
    font-family: "Encode Sans", sans-serif;
    line-height: 1.6;
    color: #052c52;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga", "kern";
    text-rendering: optimizelegibility;
}
  
a {
    color: #efb225;
    outline: none; 
}

.navigation a{
    padding: 1rem;
    font-weight: 700;
}
  
  a:focus,
  a:hover {
    color: #F26622;
    border-bottom: 0.1rem solid #fff;
 }

 .active {
   color: #F26622;
   border-bottom: 0.1rem solid rgb(153, 150, 150);
}

ul {
    list-style: none;
    margin: 0 auto;
}

.header_nav{
    position: relative;
    background-image: linear-gradient(rgba(12, 11, 12, 0.16), rgba(12, 11, 12, 1.67)), url("../img/p3.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    
}

.header_nav nav{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 4rem 2rem 2rem 2rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0; 
}


.header_nav nav .logo_main img{
    width: 8rem;
    height: auto;
}

.social a{
    background-color: #fff;
    border-radius: 0.2rem;
    padding: 0.2rem;
    
}

.social a:hover{
    border-radius: 0.2rem;
    background-color: #dd0d29;
}

.fa-facebook{
    color: #0682fd;
}
.fa-twitter{
    color: #0a92bb;
}
.fa-linkedin{
    color: #228f89;
}
.fa-whatsapp{
    color: #0cce06;
}
.fa-youtube{
    color: #dd0d29;
}
.fa-github{
    color: #052c52;
}

.header_nav nav ul li{
    display: inline-block;
    text-transform: capitalize;
    margin: 0.1rem;
}

.header_slides{
    position: absolute; 
    margin: 0 10rem; 
    top: 40%;
}

.header_slides{
    color: #fff;
    line-height: 7rem;
}

.header_slides h1{
    font-size: 3rem;
    font-weight: 100;
    line-height: 4rem;
    text-transform: capitalize;
}

.header_slides p{
    font-size: 1.5rem;
    font-weight: 100;
    line-height: 2rem;
    margin-top: 1rem;
    color: rgb(224, 223, 223);
}

.header_slides a:first-child{
    font-size: 1.3rem;
    border: 0.2rem solid #0cce06;
    padding: 0.6rem;
}

.header_slides a:last-child{
    font-size: 1.3rem;
    color: #fff;
    background-color:  #f09606;
    border: 0.2rem solid #f09606;
    padding: 0.6rem;
    margin-left: 0.5rem;
}

.header_slides a:hover{
    background-color:  #136608;
    border: 0.2rem solid #136608;
}

